:root{
  --backgroundcolor: rgb(30, 30, 30);
  --backgroundcolor2:rgb(49, 37, 42);
  --backgroundcolor3:rgb(52, 38, 27);
}

html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

h1,h2,h3,h4,h5,h6{
  color: white;
}

.img-style{
  width: 350px;
  height: 250px;
}


header{
  background-color: var(--backgroundcolor);
  height: 150vh;
  padding: 50px;
 
 
}

/* navbar section start hare */
nav{
  display: flex;
  justify-content: space-between;
}
.logo-container{
  color: rgb(211, 96, 5);
font-weight: bolder;
font-size: 20px;  
}

.navbar-container ul {
  display: flex;
  gap: 50px; 
  

}
.nav-menu li a {
  color:white;
  font-size: 20px;
  
}
.cv-button{
  background-color: rgb(253, 111, 0);
  padding: 7px;
  color: white;
}

.nav-menu li a:hover{
  font-weight: bolder;
  text-decoration: solid underline white;
  
}
.cv-button:hover{
  background-color: brown;

}
/* navbar section ends hare */

/* my datails section start hare */
.banner-container{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}



.work-datails{
  display: flex;
  gap: 20px;
  /* margin-top: 20px;
  margin-bottom: 20px; */
  padding: 20px 0 20px 0;
}

.my-datails h2{
  font-stretch: expanded;
  font-size: 30px;
}
.my-datails p{
  color: bisque;
  padding-top: 20px;
  font: bold;
}

.star-design{
  background-color: rgb(253, 111, 0);
  border-radius: 50%;
}
.Dhaka-design{
  color: rgb(253, 111, 0);
}

.portfollio-hare{
  display: flex;
  gap: 10px;
  border: 1px solid white ;
  border-radius: 30%;
  width: fit-content;
  padding: 5px;
  color: white;
  
}
.portfollio{
  background-color: rgb(253, 111, 0);
  border-radius:30%;
  padding: 10px;
}
.portfollio:hover{
  opacity: 0.5;
}
.vector-design{
  height: 15px;
  
}
.hire-me{
  padding-top: 10px;
}
.hire-me:hover{
  opacity: 0.5;
}

.social-link{
  padding-top: 20px;
}


.btn{
  width: 30px;
  height: 30px;
  opacity: 0.5;
}
.btn:hover{
  opacity: 1;
}

.my-picture-style{
  height: 350px;
  border-radius: 50%;
  border: 5px solid rgb(253, 111, 0);  
}

.work-container{
  margin-top: 50px;
  background-color: black;
  padding: 20px;
  transform: rotate(-7deg);
  
}
.work-list{
  display: flex;
  gap: 20px;
}
.work-list h2{
  font-size: 20px;
}


.aboutme-container{
  display: flex;
  margin-top: 150px;
  justify-content: space-between;
}
.about-me h2{
  font-size: 35px;
  font-weight: bolder;
}
.about-me p{
  margin-top: 20px;
  color:blanchedalmond;
  font-weight: bold;
}
.exprience h2{
  font-weight: bold;
  font-size: 35px;
  margin-top: 20px;
}



/* my datails section ends hare */


/* navbar section ends hare */

/* exprience section start hare */
.exprience-section{
  background-color: var(--backgroundcolor2);
  padding: 50px;
}


.my-exprience h2{
  margin-top: 50px;
  font: bolder;
}
.my-exprience p{
  margin-top: 30px;
  color: white;
  font: bold;
}
.my-exprience i{
  color: white;
  font-size: 20px;
  text-decoration: underline;
}

.exprience-section{
  display: flex;
  justify-content: space-between;
  font-style: italic;
}
.exprience-list h2{
  padding: 20px;
}
.exprience-list p{
  color: white;
  font-style: italic;
}




/* exprience section ends hare */

/* award section start hare */
.award-container{
   background-color: var(--backgroundcolor);
   padding: 50px;
  
}

.awards{
  text-align: center;
}
.award-container p{
  text-align:center ;
  color: blanchedalmond;
}

.award-country{
  background-color: black;
  height: 200px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  
}
.award-country h2{
  text-align: center;
  padding: 10px;
}


/* award section ends hare */

/* portfollio section start hare */
.portfollio-container{
  background-color: var(--backgroundcolor);
  padding: 50px;
}

.portfollio-header h2{
  text-align: center;
  font-size: 30px;
}
.portfollio-header p{
  text-align: center;
  padding-top: 20px;
  color:burlywood;
}

.skill-section{
  margin: 20px;
  text-align: center;
 
}
.skill-btn{
  background-color: black;
  color: white;
  padding: 15px;
  
}
.skill-btn1{
  background-color:rgb(253, 111, 0) ;
  color: white;
  padding: 15px;
}
.skill-btn:hover{
  background-color: rgb(253, 111, 0);
}
.project-1-section{
  display: flex;
  gap: 50px;
}
.project-datails{
  margin-top: 50px;
}
.project-datails p{
  color:bisque;
  text-align: justify;
  margin-top: 20px;
}
.project-2-section{
  display: flex;
  justify-content: space-between;
}
/* portfollio section ends hare */
/* contact section start hare */
.contact-section{
  background-color: var(--backgroundcolor);
}
.contace-title{
  text-align: center;
  color: white;
  padding: 20px;
}

.contact-method{
  text-align: center;
  background-color: var(--backgroundcolor3);
  padding:50px;
}
input,textarea{
  background-color: var(--backgroundcolor3);
  color: white;
}
#name{
  color: white;
  padding: 10px;
}
.contact-method h2{
padding: 50px;}

.name{
  padding: 20px;
}
.email{
  padding: 20px;
}
/* contact section ends hare */

/* footer section start hare */
.footer-section{
  background-color: black;
}
.logo{
  text-align: center;
  padding: 30px;
}
.nav-items ul{
  display: flex;
  justify-content: center;
  gap: 20px;

}
.nav-items ul li a{
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}
.social-link1{
  text-align: center;
  padding: 20px;
}
.copyright p{
  color: red;
  font-style: italic;
  text-align: center;
}

/* footer section ends hare */